<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Customer Review Analytics</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="icon"       href="assets/img/favicon.png"/>

    <script src="assets/js/vue.js"        language="javaScript"></script>
    <script src="assets/js/vue-router.js" language="javaScript"></script>
    <script src="assets/js/plotly.js"     language="javaScript"></script>
    <script src="assets/js/app.js"        language="javaScript"></script>
    <script src="assets/js/api.js"        language="javaScript"></script>
    <script src="components.js"           language="javaScript"></script>

  </head>

  <body>
    <div id="app">

    </div>
  </body>

  <script>
    window.onload = initialize;
  </script>
    

</html>
